<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>New item</key>
		<string></string>
		<key>categoryTitle</key>
		<string>أ</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ب</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ت</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ث</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ج</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ح</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>خ</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>د</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ذ</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ر</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ز</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>س</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ش</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ص</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ض</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ط</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ظ</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ع</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>غ</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ف</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ق</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ك</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ل</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>م</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ن</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ه</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>و</string>
		<key>content</key>
		<array/>
	</dict>
	<dict>
		<key>categoryTitle</key>
		<string>ي</string>
		<key>content</key>
		<array/>
	</dict>
</array>
</plist>
