<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>accountDescription</key>
		<string>رئيس لجنة</string>
		<key>username</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>phoneNumber</key>
		<string>+972597105861</string>
		<key>password</key>
		<string>123456</string>
		<key>other</key>
		<string></string>
	</dict>
	<dict>
		<key>accountDescription</key>
		<string> (+972597105866)عضو</string>
		<key>username</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>phoneNumber</key>
		<string>+972597105866</string>
		<key>password</key>
		<string>123456</string>
		<key>other</key>
		<string></string>
	</dict>
	<dict>
		<key>accountDescription</key>
		<string>(+972599953505)عضو خطيب</string>
		<key>username</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>phoneNumber</key>
		<string>+972599953505</string>
		<key>password</key>
		<string>123456</string>
		<key>other</key>
		<string></string>
	</dict>
	<dict>
		<key>accountDescription</key>
		<string>user imam(+972599953503)</string>
		<key>username</key>
		<string></string>
		<key>email</key>
		<string></string>
		<key>phoneNumber</key>
		<string>+972599953503</string>
		<key>password</key>
		<string>123456</string>
		<key>other</key>
		<string></string>
	</dict>
</array>
</plist>
